{
    "env": {
        "test": {
            "presets": [
                [
                    "@babel/preset-env",
                    {
                        "modules": "commonjs"
                    }
                ]
            ]
        },
        "production": {
            "presets": [
                [
                    "@babel/preset-env",
                    {
                        "modules": "commonjs"
                    }
                ]
            ]
        }
    },
    "presets": ["@babel/preset-react"],
    "plugins": [
        "@babel/plugin-proposal-export-default-from",
        "@babel/plugin-proposal-class-properties"
    ]
}
