{
    "presets": [["env", { "modules": false }], "react", "stage-0"],

    "env": {
        "test": {
            "presets": [["env", { "modules": "commonjs" }], "react", "stage-0"]
        }
    }
}
