{
    "globals": {
        "ParallaxController": true
    },
    "env": {
        "es6": true,
        "browser": true,
        "node": true,
        "jest/globals": true
    },
    "settings": {
        "react": {
            "version": "detect"
        }
    },
    "parser": "babel-eslint",
    "plugins": ["babel", "react", "jest"]
}
