:local(.ratio) {
    display: flex;
    position: relative;
    width: 100%;
    height: 0;
    padding-top: 100%;
    background: slateblue;
}

:local(.inner) {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;

    display: flex;
    align-items: center;
    justify-content: center;
}

:local(.box) {
    width: 3rem;
    height: 3rem;
    border-radius: 1.5rem;
    text-align: center;
    line-height: 3rem;
    color: #333;
    font-weight: bold;
    background: lightgreen;
}
