//
// Intro Copy
// ---------------------------

@import '../../styles/colors';

:local(.root) {
    display: flex;
    flex-flow: column wrap;
    align-items: space-around;
    justify-content: center;
    align-items: center;
    height: 50vh;
}

:local(.copy) {
    margin: 0.2em 0;
    text-align: center;
}

:local(.barTop) {
    margin-left: 0.8em;
    width: 20em;
    height: 1.5em;
    border-top: 0.45em solid $purple;
    border-bottom: 0.45em solid $purple;
    transform: skew(-10deg);
}

:local(.barBottom) {
    composes: barTop;
    margin-left: 0;
    margin-right: 0.8em;
}

:local(.letter) {
    display: inline-block;
}
