.parallaxChildren {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    justify-content: center;

    h1 {
        color: white;
        font-size: 4vw;
        font-weight: normal;
    }
}

.bannerBg {
    background: #fff;
}

.customChild {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    text-align: center;
}

.red {
    background-color: rgba(#f74c36, 0.8);
}

.green {
    background-color: rgba(#35f783, 0.8);
}

.blue {
    background-color: rgba(#42a7f4, 0.8);
}

.video {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
