:local(.parallaxChildren) {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    justify-content: center;

    h1 {
        color: white;
        font-size: 4vw;
        font-weight: normal;
    }
}

:local(.bannerBg) {
    background: #333;
}
