:local(.parallaxTest) {
    margin: 100vh 0;
    display: flex;
    flex-flow: row wrap;
    align-items: center;
}

:local(.h1) {
    width: 100%;
    font-size: 9vw;
    text-align: center;
}

:local(.item) {
    display: inline-block;
}

:local(.buttons) {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 1em;
}

:local(.currentState) {
    margin-bottom: 1em;

    .value {
        margin: 0 0.5em;
        color: lightgreen;
    }

    button {
        background-color: lightblue;
        border-radius: 3px;
        border: none;
        cursor: pointer;
        font-family: 'Roboto Mono', monospace;
        font-size: 12px;
        font-weight: bold;
        margin: 0.2em;
        max-width: 10em;
        padding: 0.2em 1em;

        &:hover {
            color: #222;
            background-color: lightgreen;
        }
    }
}

:global {
    body {
        background-color: #222;
        background-image: 
            linear-gradient(0deg, 
                    transparent 24%, 
                    #333 25%, 
                    #333 26%, 
                    transparent 27%,
                    transparent 74%, 
                    #333 75%, 
                    #333 76%,
                    transparent 77%,
                    transparent), 
            linear-gradient(90deg, transparent 24%, 
                    #333 25%, 
                    #333 26%,
                    transparent 27%,
                    transparent 74%, 
                    #333 75%, 
                    #333 76%,
                    transparent 77%,
                    transparent);

        background-size: 50px 50px;
        color: #342A45;
        font-size: 12px;
        font-family: 'Roboto Mono', monsopace;
        font-style: normal;
        color: #eee;
    }

    * {
        box-sizing: border-box;
    }

    .parallax-outer {
        position: relative;
        will-change: transform;
    }

    .parallax-inner {
        position: relative;
        will-change: transform;
        // background-color: rgba(255, 0, 0, 0.3);
    }

    // .is-in-view .parallax-inner {
    //     background-color: rgba(0, 255, 0, 0.3);
    // }

    .parallax-outer::after,
    .parallax-inner::after {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        border: 2px solid lightgreen;
    }

    .parallax-outer::after {
        border: 2px solid orangered;
        z-index: -1;
    }
}
