@import '../../styles/colors';

:local(.root) {
    position: relative;
    // background-color: red;
    height: 75vh;
}

:local(.shapeCluster01) {
    position: absolute;
    top: 0%;
    left: 40%;
    width: 8em;

    .hemi-left {
        position: absolute;
        right: 0;
        top: 0;
        width: 50%;
    }

    .hemi-right {
        position: absolute;
        left: 0;
        bottom: 0;
        width: 50%;
    }
}

:local(.shapeCluster02) {
    position: absolute;
    left: 5%;
    top: 25%;
    width: 18em;
    height: 30em;

    .triangle-big {
        position: absolute;
        left: 0;
        top: 20%;
        width: 60%;
    }

    .triangle-small {
        position: absolute;
        right: 0;
        top: 0;
        width: 60%;
    }

    .hemi {
        position: absolute;
        right: 0;
        bottom: 30%;
        width: 40%;
    }
}

:local(.shapeCluster03) {
    position: absolute;
    top: 90%;
    left: 45%;
    width: 17em;
    height: 10em;

    .triangle-top {
        position: absolute;
        left: 0;
        bottom: 0;
        width: 100%;
    }
    .triangle-bottom {
        position: absolute;
        left: 0;
        bottom: 0;
        width: 100%;
    }
    .triangle-big {
        position: absolute;
        left: 0;
        bottom: 0;
        width: 80%;
    }
}

:local(.shapeCluster04) {
    position: absolute;
    top: 25%;
    right: 5%;
    width: 16em;

    .triangle {
        position: absolute;
        width: 66.666%;
        top: 0;
        left: 0;
    }
    .square {
        position: absolute;
        width: 66.666%;
        right: 0;
        top: 0;
    }
    .hemi-right {
        position: absolute;
        width: 33.333%;
        right: 0;
        top: 0;
    }
}