//
// Intro
// ---------------------------

@import '../../styles/colors';

:local(.root) {
	display: flex;
	flex-flow: row wrap;
	align-items: center;
	justify-content: center;
	padding-top: 50vh;
	height: 50vh;
}

:local(.container) {
	position: relative;
	width: 25em;
}

:local(.ring) {
	position: relative;
	z-index: 2;
}

:local(.circle) {
	position: absolute;
	top: 15%;
	left: 15%;
	width: 70%;
	height: 70%;
	z-index: 1;
	
	div {
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		border: 3px solid $plum;
		border-radius: 50%;
	}
}

:local(.hemispheres) {
	position: absolute;
	top: 25%;
	left: 25%;
	width: 50%;
}