//
// Marquee
// ---------------------------

@import '../../styles/colors';

:local(.root) {
    position: relative;
    display: flex;
    flex-flow: column wrap;
    justify-content: space-between;
    align-items: center;
    min-height: 50vh;
    margin-bottom: 50vh;
}

:local(.divider) {
    display: block;
    width: 100%;
    margin-top: 25vh;
    margin-bottom: 25vh;
}

:local(.container) {
    position: relative;
    width: 40em;
}

:local(.boxOutline) {
    position: absolute;
    top: 20%;
    right: 7%;
    width: 100%;
    height: 100%;
    z-index: 1;
}

:local(.boxBg) {
    width: 100%;
}

:local(.text) {
    position: absolute;
    top: 28%;
    left: 0;
    width: 100%;
    text-align: center;
}
