@import url('https://fonts.googleapis.com/css?family=Roboto+Mono:400,700');

$bg1: #ececec;
$bg2: #d6d6d6;

@mixin scroll {
    position: fixed;
    display: inline-block;
    padding: 4px;
    top: 10px;
    left: 50%;
    text-align: center;
    letter-spacing: 0.05em;
    text-transform: uppercase;
    background-color: rgba(255, 255, 255, 0.1);
    border-radius: 3px;
    color: white;
    z-index: 1000;
    transform: translate3d(-50%, 0, 0);
}

:global {
    html {
        height: 100%;
    }
    body,
    #root {
        display: flex;
        min-width: 100%;
        min-height: 100%;
    }

    body {
        padding: 0;
        margin: 0;
        font-size: 16px;
        font-family: 'Roboto Mono', monsopace;
        font-style: normal;
        background-image: url('static/bg-grid.svg');
        background-color: #222;
    }

    .scroll-container {
        position: fixed;
        top: 50px;
        right: 50px;
        bottom: 50px;
        left: 50px;
        background-color: rgba(255, 255, 255, 0.03);
        border: 1px solid rgba(255, 255, 255, 0.15);
        display: flex;
        overflow: scroll;
        -webkit-overflow-scrolling: touch;

        &:before {
            content: 'in this <div>';
            @include scroll;
            top: 60px;
        }
    }

    .vertical {
        width: 100%;
        min-height: 300vh;
        overflow-x: hidden;

        &:before {
            content: '↑ Scroll ↓';
            @include scroll;
        }
    }

    .horizontal {
        height: 100%;
        min-width: 300vw;
        overflow-y: hidden;

        &:before {
            content: '← Scroll →';
            @include scroll;
        }
    }

    .parallax-outer {
        background-color: rgba(255, 255, 255, 0.05);
    }

    .parallax-inner {
        will-change: transform;
    }
}
