@import url('https://fonts.googleapis.com/css?family=Roboto+Mono:400,700');

$bg1: #ececec;
$bg2: #d6d6d6;

body {
    padding: 0;
    margin: 0;
    font-size: 16px;
    font-family: 'Roboto Mono', monsopace;
    font-style: normal;
    background-color: #f3f3f3;
    background-image: url(data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZlcnNpb249IjEuMSIgd2lkdGg9IjIwIiBoZWlnaHQ9IjIwIj4gIDxyZWN0IGZpbGw9InJnYmEoMCwgMCwgMCwgMC4wNSkiIHg9IjAiIHk9IjAiIHdpZHRoPSIxMCIgaGVpZ2h0PSIxMCIgLz4gIDxyZWN0IGZpbGw9InJnYmEoMCwgMCwgMCwgMC4wNSkiIHg9IjEwIiB5PSIxMCIgd2lkdGg9IjEwIiBoZWlnaHQ9IjEwIiAvPjwvc3ZnPg==);

    &:before {
        content: '↑ Scroll ↓';
        position: fixed;
        top: 10px;
        width: 100%;
        text-align: center;
        letter-spacing: 0.05em;
        text-transform: uppercase;
        color: tomato;
        z-index: 1000;
    }
}

:global(.center) {
    min-height: 300vh;
}

:global(.elements) {
    width: 100%;
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    justify-content: center;
}

:local(.parallax) {
    margin: 6rem;
    width: 200px;
}

:local(.small) {
    margin: 6rem;
    width: 10%;
}

:local(.portal) {
    position: fixed;
    bottom: 2rem;
    left: 2rem;
    right: 2rem;
    color: black;
    z-index: 100;
    border-radius: 3px;
    background-color: rgba(#eee, 0.8);

    > * {
        margin: 0.5rem;
    }
}
