@import url('https://fonts.googleapis.com/css?family=Roboto+Mono:400,700');

$bg1: #ececec;
$bg2: #d6d6d6;

@mixin scroll {
    position: fixed;
    display: inline-block;
    padding: 4px;
    top: 10px;
    left: 50%;
    text-align: center;
    letter-spacing: 0.05em;
    text-transform: uppercase;
    background-color: rgba(30, 30, 30, 0.6);
    border-radius: 3px;
    color: white;
    z-index: 1000;
    transform: translate3d(-50%, 0, 0);
}
:global {
    html {
        height: 100%;
    }
    body,
    #root {
        display: flex;
        min-width: 100%;
        min-height: 100%;
    }

    .scroll-container {
        position: fixed;
        top: 50px;
        right: 50px;
        bottom: 50px;
        left: 50px;
        background-color: rgba(30, 30, 30, 0.2);
        border: 1px solid rgba(30, 30, 30, 0.2);

        overflow: scroll;
        display: flex;

        &:before {
            content: 'in this <div>';
            @include scroll;
            top: 60px;
        }
    }

    body {
        padding: 0;
        margin: 0;
        font-size: 16px;
        font-family: 'Roboto Mono', monsopace;
        font-style: normal;
        background-color: #f3f3f3;
        background-image: url(data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZlcnNpb249IjEuMSIgd2lkdGg9IjIwIiBoZWlnaHQ9IjIwIj4gIDxyZWN0IGZpbGw9InJnYmEoMCwgMCwgMCwgMC4wNSkiIHg9IjAiIHk9IjAiIHdpZHRoPSIxMCIgaGVpZ2h0PSIxMCIgLz4gIDxyZWN0IGZpbGw9InJnYmEoMCwgMCwgMCwgMC4wNSkiIHg9IjEwIiB5PSIxMCIgd2lkdGg9IjEwIiBoZWlnaHQ9IjEwIiAvPjwvc3ZnPg==);
    }

    .vertical {
        width: 100%;
        min-height: 300vh;

        &:before {
            content: '↑ Scroll ↓';
            @include scroll;
        }
    }

    .horizontal {
        height: 100%;
        min-width: 300vw;

        &:before {
            content: '← Scroll →';
            @include scroll;
        }
    }

    .elements {
        height: 100%;
        width: 100%;
        display: flex;
        flex-flow: row wrap;
        align-items: center;
        justify-content: space-around;

        > div .parallax-inner {
            background: slateblue;
        }
        > div:nth-of-type(2n) .parallax-inner {
            background: darkslateblue;
        }
    }

    .horizontal .elements {
        flex-flow: column nowrap;
    }

    .linear {
        flex-flow: row nowrap;
        justify-content: space-around;
    }

    .parallax-outer {
        background-color: rgba(0, 0, 0, 0.1);
    }
}
